<% if is_admin? %>
    <h2>User: <%= @user.email %></h2>

    <%= form_for(resource, as: resource_name, url: user_path(@user), html: { method: :put }) do |f| %>


    <%# form_for(@user) do |f| %>

        <%= f.check_box(:admin, {checked: @user.admin}) %>
        <%= label_tag(:admin, "Admin") %>

        <div class="actions">
            <%= f.submit "Update" %>
        </div>
    <% end %>

    <%= link_to "Back", users_path %>

<% else %>
    <div id="error_explanation">
        <h2>Not authorised</h2>
        <p>You must be signed in with admin status to access this page.</p>
    </div>
<% end %>
